replicaCount: 1
image:
  repository: ghcr.io/toeverything/affine
  pullPolicy: IfNotPresent
  tag: ''

imagePullSecrets: []
nameOverride: ''
fullnameOverride: ''
# map to NODE_ENV environment variable
env: 'production'
nodeOptions: '--max-old-space-size=3072'
app:
  # AFFINE_SERVER_PORT
  port: 3010
  # AFFINE_SERVER_SUB_PATH
  path: ''
  # AFFINE_SERVER_HOST
  host: '0.0.0.0'
  https: true
serviceAccount:
  create: true
  annotations: {}
  name: 'affine-front'

podAnnotations: {}

podSecurityContext:
  fsGroup: 2000

resources:
  limits:
    cpu: '1'
    memory: 4Gi
  requests:
    cpu: '1'
    memory: 2Gi

probe:
  initialDelaySeconds: 20
  timeoutSeconds: 5
  periodSeconds: 10
  failureThreshold: 6
  successThreshold: 1
  liveness:
    initialDelaySeconds: 60
    failureThreshold: 12
  readiness: {}

services:
  sync:
    name: affine-sync
    type: ClusterIP
    port: 3010
    annotations:
      cloud.google.com/backend-config: '{"default": "affine-api-backendconfig"}'
  renderer:
    name: affine-renderer
    type: ClusterIP
    port: 3000
    annotations:
      cloud.google.com/backend-config: '{"default": "affine-api-backendconfig"}'
  web:
    name: affine-web
    type: ClusterIP
    port: 8080
    annotations: {}
  doc:
    type: ClusterIP
    annotations: {}

nodeSelector: {}
tolerations: []
affinity: {}
